html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  background-image: url(/images/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  padding: 170px 16px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

a.active {
  color: #b31b23;
}
